@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <body style="background-color:lightskyblue">
        <div class="text-center">
            <h1 class="display-4">Welcome !!</h1>
            <p>Thanks for visiting our page</p>
            <h2>The time is @DateTime.Now</h2>
            <p>please try our to do list by clicking here <a href="https://nmaadhuree.github.io/ToDoList/">To Do List</a>.</p>
        </div>
    </body>
